#info{
    width: 85%;
    height: 100%;
    margin:5% 10%;
    position: relative;

    }
    

#recipe{
    height: 100%;
    width: 60%;
    border: 1px solid black;
    position: relative;
    text-align: justify;
    padding: 1em 4em;
    float: left;
    left: 5%;
    font-size: 15pt;

 }

#ingredients{
    height: 300px;
    width: 200px;
    border: 1px solid black;
    position: relative;
    left: 8%;
    overflow-x: hidden; 
    overflow-y: auto;
    background: #2C383B;
    color: #FFF;

}


#ingredients h3{
    color: #FFF;
}

#write{
    margin-top: 3%;
    color:white;
    padding-top:3px;
    float: left;
}


.button{
    background-color: none;
}
    
    
.button a{
    color:white;
    text-decoration: none;
}